body {
  margin: 20px;
  height: 100%;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  width: 100%;
}

h1 {
  text-align: center;
}
h3 {
  text-align: center;
}

img  {
    float: right;
}
